.small-box{
    position: relative;
}
.small-box-footer{
    position: static !important;
}
.small-box-footer:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    /* background: rgba(0,0,0,0.3); */
}

.box-body .container{
    margin: 0 auto 0 0;
}