.logo-lg {
    display: inline-block;
}

header {}

main {
    margin-top: 70px;
    min-height: 70vh;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #aaa;
    padding: 15px;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label.control-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 30px;
}

.card {
    width: 100%;
}

.card-image {
    width: 100%;
    height: 0;
    padding-top: 56%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 300ms ease;
}

.card:hover .card-image img {
    transform: translate(-50%, -50%) scale(1.1);
}

.carousel {
    margin-bottom: 30px;
}

.carousel .image {
    position: relative;
    width: 100%;
    padding-top: 56.6%;
}

@media(min-width: 992px) {
    .carousel .image {
        padding-top: 36.6%;
    }
}

.carousel .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 101%;
    min-height: 101%;
    object-fit: cover;
}

.carousel .actions {
    margin: 20px 0;
}

.carousel-caption {
    background: rgba(255, 255, 255, 0.5);
}

.jumbotron {
    position: relative;
    padding: 2vw 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.jumbotron-image {
    background: #002f88;
    background: rgb(38, 38, 198);
    background: radial-gradient(circle, rgba(38, 38, 198, 1) 31%, rgba(2, 0, 36, 1) 81%, rgba(70, 79, 80, 1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 101%;
    min-height: 101%;
}

.jumbotron-image:after {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(255, 255, 255, 0.2); */
}

.jumbotron-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 101%;
    min-height: 101%;
    object-fit: cover;
    mix-blend-mode: hard-light;
}

.jumbotron-text {
    position: relative;
    color: #074299;
}


.jumbotron-text h2,
.jumbotron-text p {
    display: inline-block;
    background: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}


ul.breadcrumbs-trail {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

ul.breadcrumbs-trail li {
    display: inline-block;
    margin: 0 2px;
}

ul.breadcrumbs-trail li:first-child {
    margin-left: 0;
}

ul.breadcrumbs-trail li a {
    text-decoration: none;
    display: block;
    padding: 0 3px;
    background: #eee;
    border-radius: 5px;
    text-transform: capitalize;
}

ul.breadcrumbs-trail li:last-child span {
    font-weight: bold;
}

.image img {
    display: block;
    max-width: 100%;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #0d6efd;
    filter: none !important;
}


.gallery img {
    width: 100%;
    display: block;
}



.product-slider .owl-nav {
    position: relative;
    font-size: 24px;
    color: blue;
    width: 100px;
    margin: 5px auto;
}

.product-slider .owl-nav button {
    background: #aaa !important;
    line-height: 1.2;
    width: 40px;
    text-align: center;
    border-radius: 10px;
}

.product-slider .owl-nav .owl-prev {}

.product-slider .owl-nav .owl-next {
    float: right;
}

.slider-wrapper .image a {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slider-wrapper .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms ease;
    object-fit: contain;
    min-width: 98%;
    min-height: 98%;
    max-width: 98% !important;
    max-height: 98% !important;
    mix-blend-mode: normal;
}


.carousel-wrapper .thumbnail {
    width: 100%;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.carousel-wrapper .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms ease;
    object-fit: contain;
    min-width: 98%;
    min-height: 98%;
    max-width: 98% !important;
    max-height: 98% !important;
    mix-blend-mode: normal;
    filter: grayscale(1);
}

.carousel-wrapper .thumbnail:hover img {
    filter: grayscale(0);
    transform: translate(-50%, -50%) scale(1.1);
}

.carousel-wrapper .current .thumbnail img {
    filter: grayscale(0);
    transform: translate(-50%, -50%) scale(1.1);
}

.slider-wrapper .play {
    position: relative;
    display: block;
}

.slider-wrapper .play:after {
    content: '\23F5';
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: blue;
    z-index: 20;
    border: 3px solid blue;
    border-radius: 100%;
    padding: 3px 5px 3px;
    line-height: 1;

}
